/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
#.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
package-lock.json
public/mix-manifest.json
/nbproject
/storage/app/.gitignore
/storage/app/public/.gitignore
/storage/framework/.gitignore
/storage/framework/cache/.gitignore
/storage/framework/cache/data/.gitignore
/storage/framework/laravel-excel/laravel-excel-1hpSA7dB60gwPeAv3cP1S5JgEb0aOLtb.xlsx
/storage/framework/sessions/.gitignore
/storage/framework/testing/.gitignore
/storage/framework/views/.gitignore
/storage/logs/.gitignore

composer.lock
